<% layout('layouts/boilarplate') %>
  <h1>Create Post</h1>
  <form action="/post/<%=currentUser.id%>" method="post" class="needs-validation" novalidate>
    <div class="mb-3 col-5">
      <label for="discription" class="form-label">Enter your post</label><br>
      <textarea name="post[discription]" id="discription" cols="50" rows="10"  class="form-control" required></textarea><br>
      <div class="invalid-feedback">
        Please Enter Right Comment
      </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
